<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='header-logo'>
        <% if @current_user %>
          <%= link_to('FavoriteApp', '/spots/index') %>
        <% else %>
          <%= link_to('FavoriteApp', '/') %>
        <% end %>
      </div>
      <div class='header-menu'>
        <%- if current_user %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br />

        <%- else %>
          <%- if controller_name != 'sessions' %>
              <%= link_to "Log in", new_session_path(resource_name) %><br />
          <% end %>

          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end %>

        <%- end %>
        
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
        <% end %>

        <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
        <% end %>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
          <% end %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <main>
      <% if current_user.present? %>
        <p>こんにちは、<%= current_user.name %>さん！</p>
          <% else %>
        <p>こんにちは、ゲストさん！</p>
      <% end %>
    </main>
  </body>
</html>
